.profile-container,
.contact-container,
.education-container,
.languages-container,
.interests-container {
  padding: 20px !important;
}
.profile-container .profile {
  width: 200px;
}

.interests-container .fa.fa-heart::before {
  color: red;
}

.main-wrapper {
  padding: 20px;
}
